@import "tailwindcss";

@media (width >=1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  font-family: var(--font-onest);
  font-size: 20px;
  font-weight: 400;
  color: #242424;
  background-color: #fff;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: var(--font-neue-montreal);
  font-size: 120px;
  font-weight: 400;
  line-height: 106.667%;
}

h2 {
  font-family: var(--font-neue-montreal);
  font-size: 85px;
  font-weight: 500;
  line-height: 111.111%;
}

h3 {
  font-family: var(--font-neue-montreal);
  font-size: 70px;
  font-weight: 400;
}

h4 {
  font-family: var(--font-neue-montreal);
  font-size: 48px;
  font-weight: 400;
}

h5 {
  font-family: var(--font-onest);
  font-size: 32px;
  font-weight: 400;
}

h6 {
  font-family: var(--font-onest);
  font-size: 24px;
  font-weight: 500;
}

.fs-22 {
  font-size: 22px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.text-gray {
  color: #6B6B6B;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 24px;
  cursor: pointer;
  line-height: normal;
}

.btn-md {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 24px;
  cursor: pointer;
  line-height: 24px;
}

.btn-sm {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;

}

.btn-primary {
  background-color: #191919;
  color: #fff;
}

.btn-outline {
  color: #242424;
  border: 1px solid #242424;
  background-color: transparent;
}

.btn-green {
  color: #fff;
  background-color: #1A8917;
}



.navlink {
  font-size: 14px;
}

.footer-link {
  font-size: 13px;
  color: #6B6B6B;
}



/* HERO SECTION STARTED */
.hero-section {
  background: url('/images/hero-bg.webp') no-repeat center right/contain, #F7F4ED;
}

.our-story {
  padding-top: 206px;
  padding-bottom: 144px;
}

.links-section a {
  font-size: 70px;
  transition: all 0.3s linear;
}

.links-section a:hover {
  color: #242424;
  background-color: #fff;
}


/* FOOTER SECTION STARTED */
.footerlinks li {
  display: flex;
}


.human-stories .img-slide {
  background: linear-gradient(rgba(255, 255, 255, 0) 43.75%, rgb(208, 208, 208) 94.27%), url("https://miro.medium.com/v2/1*pNQWumUtMEZnyCtz3o1MUQ.png") no-repeat center center/cover;
}

.human-stories .img-wrapper {
  width: 48px;
  height: 48px;
}


.testimonials .img-wrapper {
  width: 80px;
  min-width: 80px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
}



@media (max-width: 575px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 28px;
  }

  .fs-22 {
    font-size: 18px;
  }
}