@import "tailwindcss";

@media (width >=1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  font-family: var(--font-onest);
  font-size: 20px;
  font-weight: 400;
  color: #242424;
  background-color: #fff;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: var(--font-neue-montreal);
  font-size: 120px;
  font-weight: 400;
  line-height: 106.667%;
}

h2 {
  font-family: var(--font-neue-montreal);
  font-size: 45px;
  font-weight: 500;
  line-height: 111.111%;
}

h3 {
  font-family: var(--font-neue-montreal);
  font-size: 40px;
  font-weight: 500;
  line-height: 115%;
}

h4 {
  font-family: var(--font-neue-montreal);
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
}

h5 {
  font-family: var(--font-onest);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

h6 {
  font-family: var(--font-onest);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.fs-22 {
  font-size: 22px;
}

.btn {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 24px;
  cursor: pointer;
  line-height: normal;
}

.btn-sm {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
}

.btn-primary {
  background-color: #191919;
  color: #fff;
}



.navlink {
  font-size: 14px;
}

.footer-link {
  font-size: 13px;
  color: #6B6B6B;
}



/* HERO SECTION STARTED */
.hero-section {
  background: url('/images/hero-bg.webp') no-repeat center right/contain, #F7F4ED;
}


/* FOOTER SECTION STARTED */
.footerlinks li {
  display: flex;
}